@keyframes move {
  0% {
      transform: translateX(0px);
  }
  50% {
      transform: translateX(-100px);
  }
  100% {
      transform: translateX(-100px);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.multiplayer-box:hover {
  animation: move 1s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.solo:hover {
  animation: move 1s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.tetra:hover {
  animation: move 1s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.config:hover {
  animation: move 1s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.about:hover {
  animation: move 1s 1;
  animation-fill-mode: forwards;
  cursor: pointer;
}
.multiplayer-box {
  font-family: 'Rubik', sans-serif;
  border: 1px solid pink;
  text-align: left;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: pink 10px 10px 10px;
  text-shadow: 2px 2px 2px white;
  margin-left: 400px;
}
.solo {
  font-family: 'Rubik', sans-serif;
  border: 1px solid blue;
  text-align: left;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: blue 10px 10px 10px;
  text-shadow: 2px 2px 2px white;
  margin-left: 400px;
  text-decoration: none;
}
.tetra {
  font-family: 'Rubik', sans-serif;
  border: 1px solid Green;
  text-align: left;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: green 10px 10px 10px;
  text-shadow: 2px 2px 2px white;
  margin-left: 400px;
}
.config {
  font-family: 'Rubik', sans-serif;
  border: 1px solid blueviolet;
  text-align: left;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: blueviolet 10px 10px 10px;
  text-shadow: 2px 2px 2px white;
  margin-left: 400px;
}
.about {
  font-family: 'Rubik', sans-serif;
  border: 1px solid grey;
  text-align: left;
  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: grey 10px 10px 10px;
  text-shadow: 2px 2px 2px white;
  margin-left: 400px;
}
body {
  background: black;
  text-transform: uppercase;
  color: white;
  margin-top: 25px;
}
a {
  text-decoration:none;
}
a:visited {
  color:white;
}